@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.primary-text {
  color: #9EABB2;
}

.primary-heading {
  color: #4C545C;
}

.hero {
  max-width: 1440px;
  margin-inline: auto;
  text-align: center;
  gap: 50px;
  padding-block: 128px;
  background: linear-gradient(180deg, #FFFFFF -65.65%, rgba(255, 255, 255, .5) 100%), url(../assests/bgTwo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.hero img {
  max-width: 125px;
  max-width: 100%;
 }

 .text-container {
  max-width: 730px;
 }

 .text-container_txt {
  font-size: 20px;
 }

 .secondary-txt {
  font-size: 18px;
  line-height: 30px;
 }

.title {
  font-size: 46px;
  line-height: 57px;
  font-weight: 600;
}

.buttons {
  gap: 16px;
  max-width: 100%;
}


button {
  padding: 15px;
  border-radius: 25px;
  border: 0;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.primary-buttons {
  background-color: #26BBA4;
  transition: all .3s ease-in;
  box-shadow: 2px 2px 5px   #26BBA4;

  &:hover {
    background-color: #6174FF;
    box-shadow: 2px 2px 5px   #6174FF;
  }
}

.secondary-buttons {
  background-color: #6174FF;
  transition: all .3s ease-in;

  &:hover {
    background-color: #26BBA4;
  }
}

.snippet-overview-container {
  gap: 115px;
  max-width: 1440px;
  margin-inline: auto;
}

.feature-section-content {
  text-align: center;
  gap: 30px;
  max-width: 730px;
  margin-inline: auto;
}

.feature-section-content_title {
  font-size: 36px;
  line-height: 45px;
}

.image-text-container {
  padding-block: 56px;
  gap: 110px;
  max-width: 1212px;
  margin-inline: auto;
}

.image-text-container img{
  max-width: 630px;
  max-width: 100%;
}

.image-text-container-descreption {
  max-width: 336px;
  gap: 56px;
}

.text-content {
  line-height: 30px;
}

.image-text-container .image-text-container-descreption h4 {
  font-size: 24px;
  font-weight: 600;
}

.content-access {
  padding: 56px 32px;
  max-width: 1440px;
  margin-inline: auto;
  text-align: center;
  gap: 30px;
}

.content-access-title {
  font-size: 36px;
}

.content-access-txt {
  font-size: 18px;
  line-height: 30px;
}

.feature-overview {
  gap: 72px;
  flex-wrap: wrap;
  text-align: center;
}

.feature-overview_features {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-section_title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 600;
}

.feature-container_txt {
  line-height: 30px;
}

.feature-section_info {
  font-size: 18px;
}

.content-access img {
  max-width: 700px;
  max-width: 100%;
}

.feature-container {
  max-width: 350px;
  text-align: center;
  gap: 40px;
}

.brand-logos-section {
  gap: 80px;
  flex-wrap: wrap;
}

.footer {
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(158, 171, 178, 0.1);
  padding: 20px;
  max-width: 1440px;
  margin-inline: auto;
}

.footer img {
  max-width: 45px;
}

.footer-icon {
  gap: 10px;
  font-size: 0;
}

.footer-icon img {
  max-width: 24px;
}

.feature-section{
  gap: 150px;
  padding-block: 60px;
  max-width: 1440px;
  margin-inline: auto;
}

.footer-nav{
  gap: 135px;
}

.footer-nav-list_content {
  gap: 30px;
}

.footer-nav_list {
  list-style: none;
}

.footer nav a{
  text-decoration: none;
}

.footer nav a:hover{
  color: #26BBA4;
}

svg:hover path {
  fill: #26BBA4;
}

@media (max-width:1040px){
  .feature-overview,.brand-logos-section{
    justify-content: center;
  }

}
@media (max-width:998px) {
  .image-text-container {
    gap:60px;
    flex-wrap: wrap;
    text-align: center;
  }

  .feature-section{
    padding: 30px;
  }
}

@media (max-width:768px) {

  .image-text-container {
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
    gap: 100px;
  }

  .image-text-container img,.feature-container {
    padding: 15px;
  }

  .feature-overview {
    flex-direction: column;
  }

  .feature-container {
    width: 311px;
  }

  .brand-logos-section {
    gap: 45px;
    flex-direction: column;
  }

  .footer {
    gap: 30px;
    padding: 50px 100px;
    flex-direction: column;
  }

  .buttons {
    gap: 24px;
    flex-direction: column;
  }

  .mobile-design {
    width: 100%;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  .footer-nav-list_content {
    flex-direction: column;
    align-items: center;
  }
}


